
body{
font-family: Arial, Helvetica, sans-serif;
font-size: 16pt;
color:#555;
background-color: #f5f5f5;
padding: 0;
margin: 0;

}
#clr{
    clear:both;
}

.container{
width:80%;
margin:auto;

}

aside{
float:left;
box-sizing: border-box;
position: absolute;
width:30%;
height: 100%;
background-color: rgb(17, 17, 17);
margin-bottom: 0;
}

aside nav{
height: 100%;
}
aside ul{
list-style: none;
}
aside li {
line-height: 1.6em;
}
aside a{
text-decoration: none;
color:white;
font-family: Tahoma;
font-size: 18pt;
line-height: 3em;
padding:10px;
}
header {
    background-color: rgb(38, 165, 154);
}
 .container h1{
padding:20px 90px;

margin:0;
color:black;
}

#details {
    float:right;
    width:70%;
    margin-bottom: 0;
}

footer {
    background-color:black ;
    text-align: center;
    margin:0;
   
}
footer p{
    color:white ;
    padding:30px;
    margin:0;

    
}